/* Import Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.light {
  --color-primary: 0 8% 98%;
  --color-secondary: 0 0% 94%;
  --color-hover: 210 12% 83%;
  --color-bg-card: 0 0% 88%;
  --color-bg-card-hover: 0 0% 92%;
  --color-text-primary: 0 0% 24%;
  --color-text-secondary: 0 0% 39%;
  --color-border: 0 0% 35%;
  --color-border-hover: 0 0% 35%;
  --color-accent: 211 100% 50%;
  --color-accent-hover: 213 100% 50%;

  --color-text-transparent: 100 100% 100%;
  --color-border-transparent: 0 0% 75%;
  --color-bg-transparent: 0 0% 0% 0.6;

  /* --bg-sidebar-overlay: rgba(255, 255, 255, 0.15); */
  /* --color-border: 222 226 230; */
  /* --color-border-hover: 210 215 220; */
}
.dark {
  --color-primary: 0 0% 12%;
  --color-secondary: 0 0% 16%;
  --color-hover: 204 11% 31%;
  --color-bg-card: 0 0% 21%;
  --color-bg-card-hover: 0 0% 16%;
  --color-text-primary: 0 0% 88%;
  --color-text-secondary: 0 0% 70%;
  --color-border: 0 0% 27%;
  --color-border-hover: 0 0% 35%;
  --color-accent: 210 100% 65%;
  --color-accent-hover: 210 90% 61%;

  --color-text-transparent: 100 100% 100%;
  --color-border-transparent: 0 0% 75%;
  --color-bg-transparent: 0 0% 0% 0.6;

  --bg-sidebar-overlay: rgba(
    0,
    0,
    0,
    0.95
  ); /* Kept as is since it's using rgba */
}
