@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  /* rgb(255, 255, 255) */
  /* --color-bg: 249 249 249; */
  --color-bg: 245 245 245;
  --color-primary: 240 240 240;
  /* rgb(240,243,243) */
  --color-secondary: 255 255 255;
  /* rgb(10,10,10) */
  --color-text: 10 10 10;
  /* rgba(209, 213, 219, 1) */
  --color-border: 209 213 219;
  --color-hover: 213 213 213;
  background: rgba(var(--background));
}

.dark {
  --color-bg: 41 41 41;
  /* rgb(26, 26, 26);  */
  /* rgba(38, 38, 37, 1) */
  --color-primary: 56 56 56;
  --color-secondary: 36 36 36;
  /* rgba(140, 137, 132, 1) */
  --color-hover: 140 137 132 / 1;
  --color-border: 50 50 50;
  /* rgb(255, 255, 255); */
  --color-text: 255 255 255;
  --color-text-dim: 163 163 163;

  background: rgba(var(--background));
}
